<div class="footer text-center" th:fragment="footer">
	<footer>
		<div class="foot left">
			<h2>CRYPTO PRICE CONVERT</h2>
			<br>
			<ul>
				<li><a href="">Convert BTC to INR</a></li>
				<li><a href="">Convert ETH to INR</a></li>
				<li><a href="">Convert ADA to INR</a></li>
				<li><a href="">Convert DOT to INR</a></li>
			</ul>
		</div>
		<div class="foot left">
			<h2>Social</h2>
			<br>
			<ul>
				<li><a href="">Facebook</a></li>
				<li><a href="">Reditt</a></li>
				<li><a href="">Twitter</a></li>
				<li><a href="">Instagram</a></li>
			</ul>
		</div>
		<div class="foot center">
			<h2>Donation</h2>
			<br>
			<ul>
				<li><a href="">Bitcoin</a></li>
				<li><a href="">Ethereum</a></li>
			</ul>
		</div>
		<div class="foot right">
			<h2>Others</h2>
			<div>
				<ul>
				<li><a href="./contact-us">Contact-Us</a></li>
				<li><a href="./about-us">About-Us</a></li>
				<li><a href="./privacy-policy">Privacy-Policy</a></li>
				<li><a href="./blog">Blog</a></li>
			</ul>
			</div>
		</div>
	</footer>
</div>