<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<body>
	<div id="page" layout:fragment="content">
		<div class="container">
            <div class="left">
                <img src="./asset/logo.png" width="100%"  >
            </div>
            <div class="right">
                <div>
                    <h1>ABOUT US</h1>
                    <p><b>Crypto Price Converter</b> allows the new generation investors to convert their virtual or digital currency basically secured by cryptography in different nation's currencies. It provides a single platform to find the solution of calculating the value of your cryptocurrency in different currencies.

                        Today's generation investors are more interested in cryptocurrency because of its digital use and secure payments online in terms of virtual tokens. So here our website provides you all the platform where you can easily come to know the exact value of your cryptocurrency in different currencies.</p>
                    
                    <h1>OUR MOTIVE</h1>
                    <p  id="para-2"> Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, deleniti.</p>
                    
                   
                    
                </div>
            </div>
        </div>
    </section>
    <article >
            <div><h1 style="text-align: center;text-align: center; font-size: 26px; font-weight: 400; color: #00008B; padding: 5px;">OUR TEAM</h1></div>
            <div class="grid-div">
                <div class="grid-left">
                    <div>
                        <a href=""><img src="https://images.pexels.com/photos/2567011/pexels-photo-2567011.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=400" width="100%" height="100%"></a>
                        <h2>Pradeep Bhati</h2>
                        <h4>Chief executive officer (CEO) & Founder </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus asperiores doloremque dignissimos 
                        </p>
                        
                    </div>

                </div>
                <div class="grid-mid">
                    <div>
                        <a href=""><img src="https://images.pexels.com/photos/2567011/pexels-photo-2567011.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=400" width="100%"></a>
                        <h2>Gaurav Saini</h2>
                        <h4>Chief Operating Officer (COO) & Front Hand Devloper </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus asperiores doloremque dignissimos
                        </p>
                    </div>

                </div>
                <div class="grid-right">
                    <div>
                        <a href=""><img src="https://images.pexels.com/photos/2567011/pexels-photo-2567011.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=400" width="100%"></a>
                        <h2>Garima Saini</h2>
                        <h4>Content Writer </h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus asperiores doloremque dignissimos
                    </div>

                </div>
            </div>
    </article>
	</div>
</body>
</html>